.profileHeader {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
}

.profileHeader.active::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateY(+50%);
    background-image: var(--add-image-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 6.7%;
    border-radius: 25%;
    bottom: 0;
    background-color: rgb(58, 138, 78);
    border: 5px solid rgb(39, 59, 44);
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.profileHeader.active:hover::after {
    width: 20px;
    height: 20px;
    opacity: 1;
}

.profileContent {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.editBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(58, 138, 78);
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.editBtn::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    height: 0;
    width: 0;
    transform: translateY(-50%);
    border-right: 10px solid rgb(58, 138, 78);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.profileContentUnContainer:hover .editBtn {
    width: 40px;
    height: 20px;
    left: calc(100% - 30px);
    -webkit-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.editBtnActive {
    width: 40px;
    height: 20px;
    left: calc(100% - 30px);
    -webkit-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.optionalMenu {
    margin-bottom: 45px;
}

.changeAvatar {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.changeAvatar.active {
    width: 300px;
    height: 300px;
}