.profileContent {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.editBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(58, 138, 78);
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1000;
}

.editBtn::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    height: 0;
    width: 0;
    transform: translateY(-50%);
    border-right: 10px solid rgb(58, 138, 78);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.profileContentUnContainer:hover .editBtn {
    width: 40px;
    height: 20px;
    left: calc(100% - 40px);
    -webkit-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    box-shadow: -6px 6px 8px 3px rgba(0, 0, 0, 0.2);
    opacity: 1;
}