.optionContainer {
    width: 100%;
}

.optionContainer button {
    float: right;
    background-color: transparent;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
    height: auto;
    margin-right: 20px;
    transition: color .2s;
    position: relative;
    padding-bottom: 5px;
}

.optionContainer button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.optionContainer button:hover {
    color: rgb(80, 255, 133);
}

.optionContainer button:hover::after {
    background-color: rgb(80, 255, 133);
}
