.createGroupHeader.active {
    cursor: pointer;
}

.createGroupHeader.active::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateY(+50%);
    background-image: var(--add-image-icon);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 6.7%;
    border-radius: 25%;
    bottom: 5px;
    background-color: rgb(58, 138, 78);
    border: 5px solid rgb(39, 59, 44);
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.createGroupHeader.active:hover::after {
    width: 20px;
    height: 20px;
    opacity: 1;
}