.container {
    display: flex;
    height: 100%;
}

.lastMessageContainer {
    width: 10%;
    flex: auto;
}

.lastMessage {
    text-overflow: ellipsis; 
    color: rgb(255, 255, 255);
    font-size: 12px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.timeAndMessageCount {
    font-size: 12px;
    color: rgb(177, 187, 176);
    width: 40px;
}

.timeAndMessageCount div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.timeStamp {
    margin-top: 6px;
}

.notReadedMessagesCount {
    margin-top: 5px;
    width: max-content;
    padding: 3px;
    color: white;
    border-radius: 45%;
    background-color: rgb(67, 167, 87);
}

.notReadedMessagesCount.active {
    margin-top: 5px;
    width: max-content;
    padding: 3px;
    border-radius: 45%;
    background-color: rgb(255, 255, 255);
    color: rgb(47, 66, 52);
}

